Toronto City Neighborhood Data
---
----

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests 

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
data = BeautifulSoup(source, 'lxml')

*importing modules 
define url and sourcing data in to "data" dataframe*

In [3]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

*columns named and data from columns into toronoto dataframe*

In [4]:
content = data.find('div', class_='mw-parser-output')

table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

*wrangled data from HTML table [td] & [tr] elements into dataframe columns named 'Postalcode' , 'Borough' , 'Neighborhood'*

In [5]:
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)

i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

*dropped 'Not assigned' Boroughs from table, converted 'Not Assigned' Locations with following location*

In [6]:
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode !=empty) & (df.Borough !=empty) & (df.Neighborhood !=empty)]

*drop "Not assigned" from dataframe*

In [7]:
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [8]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

print(df2.shape)
df2.head()

(103, 3)

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

*Returned dimensions and header of dataframe*

In [30]:
!wget -O Geospatial_Coordinates.csv https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
    
loc_df = pd.read_csv('Geospatial_Coordinates.csv')
loc_df.head()

--2020-02-18 13:41:39--  https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Resolving cocl.us (cocl.us)... 169.48.113.194, 158.85.108.86, 158.85.108.83
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-02-18 13:41:39--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197, 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-02-18 13:41:40--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-02-18 13:41:40--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.211, 107.152.27.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!-P09W28Xq8B2xdBK0cUcXRviadlDChO-DMponyYzpC3hMfkXLWo6wUbrutNT9tBAD8EsSRzhDGJdMMp6BMW8NDnfabW_eWZq5Uf3W2Cag-w2JNoPctrF0WDb0cq4qgpsmb28vxQiRYU4_fX2unbZgtB2hseotXGxTO11Xy8s1dZpBy6EVQFna5cqObLoN7861TKNx2j7ty8BaaivMogiYlRSZ7PxK_JVZFHtvEU9fiasclA07EeDPCoUAU1nyF-TCBkjwZk3AvX--ib9n831_nx8egyVZMGw3gjRoh2TjnztKEWRzVhlJuqMJMeauKimdU3z_Wb3JcIJuDnDUXVyMVvhcaUZFQ1kgS97XRG5VWsmHhahQWBvkrO2y023HDUgaqD0FwwLRdI1lpm3IxqKexwzJ2XAgV-4CUx_uXxXu58aaBx0HtpliS_oC-QaORNmwCNv3Hqfk9JRGbuGWA1V8sPLLprpDcuem8heGnne-_LAtapsUS7q9BbsRahPlirj5F8ko7paX7icpIo8Vn-oDMt09DNdu9dWI6VXttETknIrk_ubRRUrPYxDnnDffUuOqvG2j7HDDPN9jChRzEyxCQLGlpM8NoOc8J0kSiOmWIMPRy7KoFaZxS-KUgYQwWfafRqYjbNzpc5Pya80s4f1YACB-SYUVN7C2KllJOexBMm7GfzY5TFXTFfNIo4wD7M7clvSfZ_56GU1L1LSawvrhcEpazuLYV5NJC_iH9qq6Ecg0K8NnYnML_GbboY2KOy0FIItUJqTC6S32sOM8tk8RoQuZjx2ORS4nwr0M0hxhJbyBAe9IHfzQjpuDA6oT5mvdwacj05B2v-FBNJ653oEgZYVOHM7DErzeJnXfH3PbBKPuaecfPcA7XkE0OCb-6G417avKI0qBNgEXlcp8F6uACammDKgLSLGmNqanfoCwYJ19d6Ihu66GiIE1c1ZEe-QkZj8K0IC7vrpLjH1fepOKHvBsbX9RcTlDYjMMPB44t6VbmNvscY_UJEMUo1jWpAszj5REZ-TfHzF-OVa3SC6U66QY_nrRYGQXG0RVl-yHD9jkQGYqO8Gk0CQ5uZpANwP2B8uw8sOJe5B1HutVemLiCXH16QKI7eXYqgbSdYPDc0_jSFkmZjKRHSWipHjf1RhfuXqYL4hDJdOk9SH1DrRXK5-BS4OSqQfeQCBu9ebTFycoMkm7eyTU6ZoV5YLmJiUxlvyf69DPvMot2sWyN6nWngJeI8UAVrs_VWSmblCIQLGMg5qOSc2esmq-f2Vvv_41mrWgsu0aQkl9F9yHH88LtWaDwnMIfEPYn4MRSghhXM1ybWE0EFQLvBZNM0Y7aSMiEVmdDzNgBDDvPJN7TnwjKiVr9swGVJwqUIQ-Raew_TrDMJnQrBBKN26dPGl/download [following]
--2020-02-18 13:41:41--  https://public.boxcloud.com/d/1/b1!-P09W28Xq8B2xdBK0cUcXRviadlDChO-DMponyYzpC3hMfkXLWo6wUbrutNT9tBAD8EsSRzhDGJdMMp6BMW8NDnfabW_eWZq5Uf3W2Cag-w2JNoPctrF0WDb0cq4qgpsmb28vxQiRYU4_fX2unbZgtB2hseotXGxTO11Xy8s1dZpBy6EVQFna5cqObLoN7861TKNx2j7ty8BaaivMogiYlRSZ7PxK_JVZFHtvEU9fiasclA07EeDPCoUAU1nyF-TCBkjwZk3AvX--ib9n831_nx8egyVZMGw3gjRoh2TjnztKEWRzVhlJuqMJMeauKimdU3z_Wb3JcIJuDnDUXVyMVvhcaUZFQ1kgS97XRG5VWsmHhahQWBvkrO2y023HDUgaqD0FwwLRdI1lpm3IxqKexwzJ2XAgV-4CUx_uXxXu58aaBx0HtpliS_oC-QaORNmwCNv3Hqfk9JRGbuGWA1V8sPLLprpDcuem8heGnne-_LAtapsUS7q9BbsRahPlirj5F8ko7paX7icpIo8Vn-oDMt09DNdu9dWI6VXttETknIrk_ubRRUrPYxDnnDffUuOqvG2j7HDDPN9jChRzEyxCQLGlpM8NoOc8J0kSiOmWIMPRy7KoFaZxS-KUgYQwWfafRqYjbNzpc5Pya80s4f1YACB-SYUVN7C2KllJOexBMm7GfzY5TFXTFfNIo4wD7M7clvSfZ_56GU1L1LSawvrhcEpazuLYV5NJC_iH9qq6Ecg0K8NnYnML_GbboY2KOy0FIItUJqTC6S32sOM8tk8RoQuZjx2ORS4nwr0M0hxhJbyBAe9IHfzQjpuDA6oT5mvdwacj05B2v-FBNJ653oEgZYVOHM7DErzeJnXfH3PbBKPuaecfPcA7XkE0OCb-6G417avKI0qBNgEXlcp8F6uACammDKgLSLGmNqanfoCwYJ19d6Ihu66GiIE1c1ZEe-QkZj8K0IC7vrpLjH1fepOKHvBsbX9RcTlDYjMMPB44t6VbmNvscY_UJEMUo1jWpAszj5REZ-TfHzF-OVa3SC6U66QY_nrRYGQXG0RVl-yHD9jkQGYqO8Gk0CQ5uZpANwP2B8uw8sOJe5B1HutVemLiCXH16QKI7eXYqgbSdYPDc0_jSFkmZjKRHSWipHjf1RhfuXqYL4hDJdOk9SH1DrRXK5-BS4OSqQfeQCBu9ebTFycoMkm7eyTU6ZoV5YLmJiUxlvyf69DPvMot2sWyN6nWngJeI8UAVrs_VWSmblCIQLGMg5qOSc2esmq-f2Vvv_41mrWgsu0aQkl9F9yHH88LtWaDwnMIfEPYn4MRSghhXM1ybWE0EFQLvBZNM0Y7aSMiEVmdDzNgBDDvPJN7TnwjKiVr9swGVJwqUIQ-Raew_TrDMJnQrBBKN26dPGl/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv’

100%[======================================>] 2,891       --.-K/s   in 0s

2020-02-18 13:41:41 (278 MB/s) - ‘Geospatial_Coordinates.csv’ saved [2891/2891]

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

*Pulled in csv data into pandas dataframe 'loc_df', reported the header for 'loc_df'*

In [32]:
loc_df.rename(columns={'Postal Code':'Postalcode'}, inplace=True)

*renamed the 'Postal Code' column in loc_df in order to match the Geospatial_Coordinates data to the original df2 data where the column is named 'Postalcode'*

In [37]:
df3 = pd.merge(df2, loc_df, on = 'Postalcode', how = 'left')

*created a new data frame named 'df3' to hold all columns from df2 ('left' table) and the columns from loc_df (lat/long) which correspond to the same row in df2 based on data in column 'Postalcode'*

In [ ]:
df3

*display full new dataframe with location data (df3)*